
/* Menu */
#container-menu {
    width: 250px;
    height: 100%;
    background-color: #3B4145;
    display: flex;
    flex-direction: column;

}

.info-menu {
    width: 100%;
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.info-menu:hover {
    background-color: #626E74;
    transition-duration: 0.8s;
}

/*
.menu-options {
}
*/
.link-menu {
    color: white;
    font-size: 16px;
    text-decoration: none;
}